.info{
    background-color: green;
    color: #fff;
    height: 200px;
}
ul li{
    
}
.form-control{
    height: 3rem;
    border-radius: 25px 25px 25px 0;
}
textarea{
    border-radius: 25px 25px 25px 0;
}