@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
	padding: 0%;
	margin: 0%;
	font-family: 'Lato';
	overflow-x: hidden;
}
*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #fff;
	font-family: 'Lato';
	
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
	color: #00e8e8;
	/* text-transform: uppercase; */
	letter-spacing: 2px;
	font-size: 22px;
	margin-left: 0px;;
}
.logo a:hover{
	text-decoration: none;
}
.nav-link{
    margin-bottom: 10px;
    margin-top: 10px;
	display: flex;
	width: 30%;
	justify-content: space-around;
    float: right;
}
.nav-link li{
	list-style-type: none;
}
.nav-link a{
	text-decoration: none;
	color: #000;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 12px;
}
.burger{
	display: none;
	margin-left: 70px;;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: #000;
	margin: 5px;
	transition: all 0.3s ease;
}
@media screen and (max-width: 1024px){
	.nav-link{
		display: flex;
		width: 100vw;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px){
	body{
		/* overflow-x: hidden; */
	}
	.modal{
		width: 50%;
		margin: auto;
	}
	.nav-link{
		z-index: 1000;
		position: absolute;
		right: 0px;
		height: 40vh;
		top: 8vh;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-link li{
		opacity: 0;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	.nav-active{
		transform: translateX(0%);
	}
	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}

/* banner css */
#slider-animation{min-height:100%;}
.heading-box h2{ width:100%; color: red; }
h2, p{color:#fff;}
.carousel-item img{width:100%;}
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #000;
	transform: translateY(-50%);
}
img{
	height: 91vh !important;
}

/* services css */
.section-title {
	position: relative
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 10px;
	display: inline-block
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 50px;
}
.mb-100{
    margin-bottom:50px;
}
.services {
	background-color: #FBFBFB;
}
.single-service {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	padding: 30px 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
}
.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #FF7200;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:after {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #FF7200;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fa {
	font-size: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	line-height: 60px;
	margin-bottom: 30px;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover i.fa {
	background-color: #FF7200;
	color: #fff;
	border-color: #FF7200;
	border-radius: 0;
}
.single-service h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.single-service p {
	font-size: 15px;
	line-height: 1.8;
	
	color: black !important;
}

/* contact us css */
.pb-100 {
	padding-bottom: 100px;
}
/*.pt-100 {*/
/*	padding-top: 100px;*/
/*}*/
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
}
.contact-form input,
textarea {
	width: 100%;
	border: 1px solid #555;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-top: 15px;
	background-color: white;
	color: #000;
}
.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	z-index: -1;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #FF7200;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
	background-color: #FF7200;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
	transition: .4s
}
.contact-form input[type="submit"]:hover {
	background-color: #CC5B00
}
.contact-form input:focus, textarea:focus {
	border-color: #CC5B00
}


/* footer css */


ul.filters{
	display: block;
	width: 100%;
	margin: 0;
	padding: 30px 0;
}

ul.filters > li{
	list-style: none;
	display: inline-block;
}

ul.filters > li > a{
	display: block;
	color: #434e5e;
	text-decoration: none;
	padding: 5px 20px;
}

ul.filters > li > a:hover{
	background-color: #e6e9ed;
}

ul.filters > li.active > a{
	color: #fff;
	background-color: #28bea8;
}

.card-head{
	position: relative;
	overflow: hidden;
}

.card-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(67,78,94,0.8);
	display: flex;
	justify-content: center;
	color: #fff;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.card-hover{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(40,190,168,0.9);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.card-body{
	padding-top: 10px;
	padding-bottom: 10px;
}

h4.title{
	color: #434e5e;
	font-size: 1.2rem;
	margin-bottom: 0;
}

.card-btn{
	margin-bottom: -40px;
	font-size: 0.9rem;
	background-color: #fff;
	color: #222;
	border: 1px solid #eee;
	border-radius: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.card-btn:hover{
	background-color: #28bea8;
	color: #fff;
}